.blocos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 120px;
    background-color: #4B9738;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
    outline: hidden;
    cursor: pointer;
}

.blocos h2 {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
}

.blocos h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin: 5px;
}